::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F3E0DC;
}

.container {
  text-align: center;
  padding-top: 210px;
  padding-bottom: 25px;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 89vh;
  background-color: #F3E0DC;
}